<a href="https://colab.research.google.com/github/flushdns1/my_repository/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Введите здесь ваш код
A = -11
B = 20
C = 60

if (A<45 or B<45 or C<45):
    print('<45')
    
if (A not in range(-10,0)) and (A not in range(2,16)):
    print ('v')

SyntaxError: ignored

In [ ]:
#Дано двузначное число. Определите, входит ли в него цифра 5. Попробуйте решить задачу с использованием целочисленного деления и деления с остатком.
n = 15
first_digit = n // 10
second_digit = n % 10

print((first_digit == 5) or (second_digit == 5))

SyntaxError: ignored

In [ ]:
num = 12344321

print(str(num) == str(num)[::-1])

True

In [ ]:
lst=[90, 230, 23]
print(count(lst))

NameError: ignored

In [ ]:
lst = [98, 24, 23, 12, 3]
P = 1
for id in lst:
   P *= id
   print(P)
print ('P=',P)

98
2352
54096
649152
1947456
P= 1947456

In [ ]:
P = 1  # создаём переменную-счётчик, в которой мы будем считать произведение.
#подумайте, чему она должна быть равна 
N = 5

# запишите цикл for для подсчёта произведения
for i in range(1, N+1):
    #lst = list(range(1,i))
    print('*'*i)

*
**
***
****
*****

In [ ]:
gruz = list()
leg = list()

weight_of_products= [10, 42.4, 240.1, 101.5, 98, 0.4, 0.3, 15]
for i in weight_of_products:
    print (i)
    if i > 100:
        gruz.append(i)
    else:
        leg.append(i)
print (gruz, leg)

10
42.4
240.1
101.5
98
0.4
0.3
15
[240.1, 101.5] [10, 42.4, 98, 0.4, 0.3, 15]

In [ ]:
places = ['Red Square','Swallow Nest','Niagara Falls','Grand Canyon','Louvre','Hermitage']
#Также есть словарь location, ключи которого — места, которые пользователь хочет посетить, а значения — названия стран, где находятся эти места.

location = {'Red Square': 'Russia','Swallow Nest': 'Russia','Niagara Falls': 'USA','Grand Canyon': 'USA','Louvre': 'France','Hermitage': 'Russia'}

N = len(places)

for i in range(0,N):
    country = location[places[i]]
    if country != 'Russia':
        places[i] = 'Unavailable'
print(places)

['Red Square', 'Swallow Nest', 'Unavailable', 'Unavailable', 'Unavailable', 'Hermitage']

In [ ]:
my_list = []
for number in range(0, 10):
    print(number)
    my_list.append(number**2)
print(my_list)

my_list = [1]
for i in range(10):
    my_list.append(my_list[i] * 2)
print(my_list)

word_list = ['My', 'name', 'is', 'Dmitriy']
N = len(word_list)

for i in range(N):
    sent += word_list[i]
print(sent)

0
1
2
3
4
5
6
7
8
9
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]
MynameisDmitriy

In [ ]:
my_list = list(range(0, 100, 3))
P = 0

for i in my_list:
    #print(i)
    if i%2 == 0:
        P += 1
print(P)

17

In [ ]:
my_list = [True, 1, -10, 'hello', False, 'string_1', 123, 2.5, [1, 2], 'another']
N = 0
P = len(my_list)

for i in range(P):
    if type(my_list[i]) == type(''):
        N += 1
print (N)

3

In [ ]:
weight = 67
WeightS = 0

while WeightS < 400:
    WeightS += weight
print('Overweight is {} kg'.format(WeightS-400))

Overweight is 2 kg

In [ ]:
vol = 10
volS = 0

while volS < vol:
    volS += 3.3
    print(volS)
print('Overweight is {} kg'.format(volS))

3.3
6.6
9.899999999999999
13.2
Overweight is 13.2 kg

In [ ]:
n = 1
P = 1

while P < 1000:
    P = 3 ** n
    n += 1
print(n)

8

In [ ]:
S = 1000
y = 0

while S < 3000:
    S *= 1.08
    y += 1
print(y)
print(S)

15
3172.169114198272

In [ ]:
max_people = 5
i = 0
while i <max_people:
    print('There are', i, 'people in the room') # В помещении i человек
    i += 1

There are 0 people in the room
There are 1 people in the room
There are 2 people in the room
There are 3 people in the room
There are 4 people in the room

In [ ]:
hours = list(range(9, 24, 2)) #создаём список часов
minutes = list(range(0, 60, 15)) #создаём список минут
#создаём цикл по элементам списка часов
for hour in hours: #hour — текущее значение часа (10, 15, 20)
    #создаём цикл по элементам списка минут
    for minute in minutes: #second — текущее значение минуты
        print('Alarm is set {}:{}'.format(hour, minute)) #выводим время

Alarm is set 9:0
Alarm is set 9:15
Alarm is set 9:30
Alarm is set 9:45
Alarm is set 11:0
Alarm is set 11:15
Alarm is set 11:30
Alarm is set 11:45
Alarm is set 13:0
Alarm is set 13:15
Alarm is set 13:30
Alarm is set 13:45
Alarm is set 15:0
Alarm is set 15:15
Alarm is set 15:30
Alarm is set 15:45
Alarm is set 17:0
Alarm is set 17:15
Alarm is set 17:30
Alarm is set 17:45
Alarm is set 19:0
Alarm is set 19:15
Alarm is set 19:30
Alarm is set 19:45
Alarm is set 21:0
Alarm is set 21:15
Alarm is set 21:30
Alarm is set 21:45
Alarm is set 23:0
Alarm is set 23:15
Alarm is set 23:30
Alarm is set 23:45

In [ ]:
text_list = [
    'afbaad',
    'faaf',
    'afaga',
    'agag'
]
count = 0
for i in text_list:
    print(i)
    for j in i:
        print(j)
        if j == 'a':
            count += 1

print (count)

afbaad
a
f
b
a
a
d
faaf
f
a
a
f
afaga
a
f
a
g
a
agag
a
g
a
g
10

In [ ]:
random_matrix = [
    [9, 2, 1],
    [2, 5, 3],
    [4, 8, 5]
] #заданная матрица
max_value_rows = [] #задаём пустой список с минимальными значениями строк
#создаём цикл по строкам матрицы random_matrix 
for row in random_matrix: #row — текущая строка таблицы
    max_value = row[0] #начальное значение кандидата на минимум
    #создаём цикл по элементам списка row
    for elem in row: #elem — текущий элемент из списка row
        #проверяем условие, что текущий элемент меньше кандидата на минимум
        if elem > max_value: #если условие выполняется,
            max_value = elem #заменяем кандидата на минимум
    max_value_rows.append(max_value) #добавляем полученный минимум строки в список
print("Maximal elements:", max_value_rows)

Maximal elements: [9, 5, 8]

In [ ]:
count = 0
for i in range(5):
    for j in range(4):
        count += 1
print(count)

20

In [ ]:
user_dynamics = [-5, 2, 4, 8, 12, -7, 5] #заданный список динамики пользователей
#создаём цикл по индексам и элементам списка 
for i, dynamic in enumerate(user_dynamics): # i — индекс текущего элемента, dynamic — текущее значение из списка
    print("Day {} : {}".format(i+1, dynamic)) #выводим номер дня и динамику на этот день

Day 1 : -5
Day 2 : 2
Day 3 : 4
Day 4 : 8
Day 5 : 12
Day 6 : -7
Day 7 : 5

In [ ]:
user_dynamics = [-5, 2, 4, 8, 12, -7, 5]
number_negative = None #объявляем переменную, в которой будем хранить номер последнего дня оттока, изначально она пустая (None)
N = len(user_dynamics) #вычисляем длину списка
#создаём цикл по элементам последовательности от 0 до N (не включая N)
for i,j in enumerate(user_dynamics): # i — индекс текущего элемента
    #проверяем условие оттока — текущий элемент отрицательный
    if j < 0: #если условие истинно,
        number_negative = i+1  #перезаписываем значение номера дня
        print("Churn value: ", j) # выводим количество ушедших в этот день пользователей
        print("Number day: ", i+1) # выводим номер дня

Churn value:  -5
Number day:  1
Churn value:  -7
Number day:  6

In [ ]:
n = 26 #задаём число
#создаём бесконечный цикл
while True:
    #проверяем условие, что остаток от деления на 3 равен 0
    if n % 3 == 0: #если условие выполняется,
        n = n // 3 #новое число — результат целочисленного деления на 3
        if n == 1: #если в результате деления получили 1,
            print('n - is the power of the number 3!')#выводим утвердительное сообщение
            break #выходим из цикла
    else: #в противном случае
        print('n - is not the power of the number 3!') #выводим сообщение-опровержение
        break #выходим из цикла

n - is not the power of the number 3!

In [ ]:
n = 9 #задаём число
#создаём бесконечный цикл
while True:
    if n % 2 == 0:
        n = n // 2
    else:
        n = (n * 3 + 1) // 2
    if n == 1: #если результат равен 1,
        print('Syracuse hypothesis holds') #выводим утвердительное сообщение
        break

Syracuse hypothesis holds

In [ ]:
client_status = {
    103303: 'yes', 
    103044: 'no',
    100423: 'yes',
    103032: 'no',
    103902: 'no'
}
#создаём цикл по ключам словаря client_status
for user_id in client_status: #user_id — текущий ключ словаря
    #если текущий статус == 'no',
    if client_status[user_id] == 'no':
        continue #переходим на следующую итерацию
    else:
        print('Send present user', user_id) #выводим сообщение об отправке

Send present user 103303
Send present user 100423

In [ ]:
my_dict = {'a': 15, 'b': 10.5, 'c': '15', 'd': 50, 'e': 15, 'f': '15'}
N = 0

for i in my_dict:
    if type(my_dict[i]) is str:
        continue
    else:
        N += 1
print(N)

4

In [ ]:
a = [1,2,3,4,5]
for i in a:
    print('i:',i)
    if i > 3:
        pass
    print(i)

i: 1
1
i: 2
2
i: 3
3
i: 4
4
i: 5
5

In [ ]:
text = """
She sells sea shells on the sea shore;
The shells that she sells are sea shells I am sure.
So if she sells sea shells on the sea shore,
I am sure that the shells are sea shore shells.
"""
text = text.lower() #приводим текст к нижнему регистру
text = text.replace(" ", "") #заменяем пробелы на пустые строки
text = text.replace("\n", "") #заменяем символы переноса строки на пустые строки
count_dict = {} #создаём пустой словарь для подсчёта количества символов
#создаём цикл по символам в строке text
for symbol in text: #symbol — текущий символ в тексте
    #проверяем условие, что символа ещё нет среди ключей словаря
    if symbol not in count_dict: #если условие выполняется,
        count_dict[symbol] = 1 #заносим символ в словарь со значением 1
    else: #в противном случае
        count_dict[symbol] += 1 #увеличиваем частоту символа
print(count_dict) #выводим результирующий словарь

{'s': 33, 'h': 18, 'e': 29, 'l': 18, 'a': 12, 'o': 6, 'n': 2, 't': 8, 'r': 7, ';': 1, 'i': 3, 'm': 2, 'u': 2, '.': 2, 'f': 1, ',': 1}

In [ ]:
text = """
She sells sea shells on the sea shore;
The shells that she sells are sea shells I am sure.
So if she sells sea shells on the sea shore,
I am sure that the shells are sea shore shells.
"""
text = text.lower() #приводим текст к нижнему регистру
text = text.replace("\n", " ") #заменяем символы переноса строки на пробелы
text = text.replace(",", "") #заменяем запятые на пустые строки
text = text.replace(".", "") #заменяем точки на пустые строки
text = text.replace(";", "") #заменяем точки с запятыми на пустые строки
word_list = text.split()
count_dict = {} #создаём пустой словарь для подсчёта количества слов
#создаём цикл по словам в списке word_list
for word in word_list: #word — текущее слово из списка word_list
    #проверяем условие, что слова ещё нет среди ключей словаря
    if word not in count_dict: #если условие выполняется,
        count_dict[word] = 1 #заносим слово в словарь со значением 1
    else: #в противном случае
        count_dict[word] += 1 #увеличиваем частоту слова
print(count_dict) #выводим результирующий словарь

{'she': 3, 'sells': 3, 'sea': 6, 'shells': 6, 'on': 2, 'the': 4, 'shore': 3, 'that': 2, 'are': 2, 'i': 2, 'am': 2, 'sure': 2, 'so': 1, 'if': 1}

In [ ]:
import random
my_list = []
for i in range(0, 10):
    my_list.append(random.randint(0, 10))

print(my_list)

for i in my_list:
    #print('i=', i)
    if my_list.count(i) > 1:
        print ('yes')
        break

S = 0
i = 0

while S < 10:
    S += my_list[i]
    i += 1
    print('S=',S,'; i=',i)

[4, 1, 1, 6, 5, 3, 8, 6, 3, 6]
yes
S= 4 ; i= 1
S= 5 ; i= 2
S= 6 ; i= 3
S= 12 ; i= 4

In [ ]:
str_list = ['Hello', 'my', 'name', 'is', 'Ezeikel', 'I', 'like', 'knitting'] 
cut_str_list = []

for i, value in enumerate(str_list):
    if len(value) < 3:
        cut_str_list.append([i, value])
    else:
        cut_str_list.append([i, value[:3]])
print(cut_str_list)

[[0, 'Hel'], [1, 'my'], [2, 'nam'], [3, 'is'], [4, 'Eze'], [5, 'I'], [6, 'lik'], [7, 'kni']]

In [ ]:
sentence = 'A roboT MAY Not injure a humAn BEING or, tHROugh INACtion, allow a human BEING to come to harm'
sentence = sentence.lower()
sentence = sentence.replace(",", "")
word_list = sentence.split()

word_dict = {}
for word in word_list:
    if word not in word_dict:
        word_dict[word] = 1
    else:
        word_dict[word] += 1
print(word_dict)

a robot may not injure a human being or through inaction allow a human being to come to harm
['a', 'robot', 'may', 'not', 'injure', 'a', 'human', 'being', 'or', 'through', 'inaction', 'allow', 'a', 'human', 'being', 'to', 'come', 'to', 'harm']
{'a': 3, 'robot': 1, 'may': 1, 'not': 1, 'injure': 1, 'human': 2, 'being': 2, 'or': 1, 'through': 1, 'inaction': 1, 'allow': 1, 'to': 2, 'come': 1, 'harm': 1}

In [ ]:
#Дан список из строк:
#str_list = ['text', 'morning', 'notepad', 'television', 'ornament']
#Подсчитайте количество вхождений символа 't' в каждую из строк этого списка.
#Для подсчёта используйте словарь word_dict: в качестве ключа запишите в него строку, в качестве значения — число вхождений буквы 't' в эту строку.
#Пример работы программы для списка lst = ['letter', 'hello']:
# {'letter': 2, 'hello': 0}.
#В результате работы вашей программы в переменной word_dict должен храниться результирующий словарь.
#Для тренировки используйте вложенные циклы: внешний цикл по элементам списка, внутренний цикл по символам в текущей строке.

str_list = ['text', 'morning', 'notepad', 'television', 'ornament']
word_dict = {}

for i in str_list:
    print(i)
    word_dict[i] = 0
    for j in list(i):
        if j == 't':
            word_dict[i] += 1
print(word_dict)

text
morning
notepad
television
ornament
{'text': 2, 'morning': 0, 'notepad': 1, 'television': 1, 'ornament': 1}

In [ ]:
my_list = [['Smirnov', 'Ivan', 23], ['Kuznetsova', 'Maria', 27]]
count(my_list)

NameError: ignored

In [ ]:
langs = ['Python', 'SQL', 'Machine Learning', 'Statistics']
print(*langs,sep=', ')

Python, SQL, Machine Learning, Statistics

In [ ]:
def mean_mark(*marks, name):
    result = sum(marks) / len(marks)
    # Не возвращаем результат, а печатаем его
    print(name+':', result)


mean_mark(4,5,5,5,5,3,4,4,5,4,5, name='Kuznetsov')

Kuznetsov: 4.454545454545454

In [ ]:
list1 = [1,4,6,8]
list2 = [12, 45, 56, 190, 111]
list3 = ['Python', 'Functions']
 
# Один раз запишем в словарь параметры для печати
# через print: разделитель — запятая,
# окончание строки — точка с запятой
how = {'sep': ', ', 'end': '; '}
 
# Распаковываем и список, и словарь how
print(*list1, **how)
print(*list2, **how)
print(*list3, **how)
 
#Будет напечатано:
# 1, 4, 6, 8; 12, 45, 56, 190, 111; Python, Functions;

1, 4, 6, 8; 12, 45, 56, 190, 111; Python, Functions;

In [ ]:
names = ['Ivan', 'Kim', 'German', 'Margarita', 'Simon']
names.sort(key=lambda f: len(f))
print(names)

new_list = ['bbb', 'ababa','aaa', 'aaaaa',  'cc']

new_list.sort(key=lambda word: len(word))
print(new_list)
# Будет напечатано:
# ['cc', 'bbb', 'aaa', 'ababa', 'aaaaa']

new_list.sort(key=lambda word: (len(word), word))
print(new_list)

['Kim', 'Ivan', 'Simon', 'German', 'Margarita']
['cc', 'bbb', 'aaa', 'ababa', 'aaaaa']
['cc', 'aaa', 'bbb', 'aaaaa', 'ababa']

In [ ]:
#Напишите lambda-функцию для расчёта гипотенузы прямоугольного треугольника: она принимает на вход длины двух катетов и возвращает длину гипотенузы (третьей, самой длинной стороны прямоугольного треугольника).

#Формула: , где  и  — длины катетов,  — длина гипотенузы. Сохраните эту функцию в переменную hyp.

#Пример работы функции:

hyp = lambda a,b: (a**2 + b**2) ** (1/2)
print(hyp(3,4))
print(hyp(1,9))
# 5.0
# 9.055385138137417

def sort_sides(l_in):
    l_in.sort(key = lambda l: (l[0]**2 + l[1]**2) ** (1/2))
    return l_in

print(sort_sides([(3,4), (1,2), (10,10)]))

5.0
9.055385138137417
[(1, 2), (3, 4), (10, 10)]

In [ ]:
p = lambda *args: sum(args)/len(args)
print (p(1,2))

1.5

In [ ]:
def get_less(list_in, num):
    # Вместо pass напишите тело функции
    list_in.sort()
    print (list_in)
    if len(list_in) > 0:
        if list_in[0] <= num:
            return(list_in[0])
        else:
            return (None)

l = []
print(get_less(l, 1))

print(get_less([25, 26, 24, 1, 0], 25), 24)

print(get_less([25, 26, 24, 1, 0], 25), 24)

[]
None
[0, 1, 24, 25, 26]
0 24
[0, 1, 24, 25, 26]
0 24

In [ ]:
def split_date(date):
    day, month, year = date[:2], date[2:4], date[4:]
    return int(day), int(month), int(year)

print(split_date("07011001"))

(7, 1, 1001)

In [ ]:
def is_prime(num):
    lst = list(range(2,num))
    if num == 1:
        return(False)
    else:
        for i in lst:
            if num % i == 0:
                return(False)
        return(True)

print(is_prime(1))
print(is_prime(10))
print(is_prime(13))

[]
False
[2, 3, 4, 5, 6, 7, 8, 9]
2
False
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
2
3
4
5
6
7
8
9
10
11
12
True

In [ ]:
#Напишите функцию between_min_max(...), которая принимает на вход числа через запятую.
#Функция возвращает среднее арифметическое между максимальным и минимальным значением этих чисел, то есть (max + min)/2.
#Пример:
def between_min_max (*num):
    min_val = min(num)
    max_val = max(num)
    return (min_val + max_val) / 2

print(between_min_max(10))
print(between_min_max(1,2,3,4,5))

10.0
3.0

In [ ]:
def best_student(**rates):
    min_rate = 0
    min_name = ''
    for name, rate in rates.items():
        #if min_rate == None:
            #min_rate = rate
            #min_name = name
        if min_rate > rate or min_rate == 0:
            min_rate = rate
            min_name = name
    return min_name, min_rate

print(best_student(Tom=12, Mike=3))
print(best_student(Tom=12))
print(best_student(Tom=12, Jerry=1, Jane=2))

('Mike', 3)
('Tom', 12)
('Jerry', 1)

In [ ]:
is_palindrom = lambda X: 'yes' \
if X == X[::-1]\
else 'no'

print(is_palindrom('1234'))
print(is_palindrom('12321'))

no
yes

In [ ]:
area = lambda x,y: x*y
print(area(12,5))

60

In [ ]:
between_min_max = lambda *x: (min(x)+max(x))/2;
print(between_min_max(1,2,3,4,5))

3.0

In [ ]:
def sort_ignore_case (lst):
    return sorted(lst, key=lambda s: s.lower())

print(sort_ignore_case(['Acc', 'abc']))
# ['abc', 'Acc']

['abc', 'Acc']

In [ ]:
def exchange(usd = None, rub = None, rate = None):

    print (usd, rub, rate)
    if usd is not None and rub is not None and rate is not None:
        raise ValueError("Too many arguments")
    elif (usd is None and rub is None) or (usd is None and rate is None) or (rate is None and rub is None):
        raise ValueError("Not enough arguments")
    elif rate == None and usd != 0:
        return rub / usd
    elif rub == None:
        return usd * rate
    elif usd == None and rate != 0:
        return rub / rate

print(exchange(usd=100, rub=8500))
print(exchange(usd=100, rate=85))
print(exchange(rub=1000, rate=85))
# 85.0
# 8500
# 11.764705882352942
print(exchange(rub=1000, rate=85, usd=90))
# ValueError: Too many arguments
print(exchange(rub=1000))
# ValueError: Not enough arguments

100 8500 None
85.0
100 None 85
8500
None 1000 85
11.764705882352942
90 1000 85

ValueError: ignored

In [ ]:
def saver():
    # Вместо pass напишите тело функции
    count = 0
    def adder(x):
        nonlocal count
        count += x
        return count
    return adder

pig = saver()
print(pig(25))
print(pig(100))
print(pig(19))

25
125
144

In [ ]:
def multiply_lst(lst):
    print(lst, len(lst))
    if len(lst) == 0: return 1
    return lst[0] * multiply_lst(lst[1:])

print(multiply_lst([1,2,3]))

[1, 2, 3] 3
[2, 3] 2
[3] 1
[] 0
6

In [ ]:
def fib(n):
    
    #print ('n=',n)
    if n == 0: return 0
    if n == 1: return 1
    
    return (fib(n-1) + fib(n-2))

print(fib(0))
print(fib(1))
print(fib(2))
print(fib(3))
print(fib(4))

0
1
1
2
3

In [ ]:
def power(val,n):
    if n == 0: return 1
    elif n == 1: return val
    else:
        return val * power(val, n-1)

print(power(2,0))
print(power(2,1))
print(power(3,2))
print(power(25,0))
print(power(-5,4))

1
2
9
1
625

In [ ]:
def is_leap(year):
    if (year % 400 == 0):
        return True
    elif (year % 100 == 0):
        return False
    elif (year % 4 == 0):
        return True
    else: return False

print(is_leap(2000))
print(is_leap(1900))
print(is_leap(2020))
print(is_leap(1950))

True
False
True
False

In [ ]:
def is_leap(year):
    if (year % 400 == 0):
        return True
    elif (year % 100 == 0):
        return False
    elif (year % 4 == 0):
        return True
    else: return False

def check_date(day, month, year):
    #dt = str(day) + '.' + str(month) + '.' + str(year)
    #print (dt)
    #print('is_leap = ', is_leap(year))
    if type(day) is int and type(month) is int and type(year) is int:
        if year >= 1900 and year <= 2022:
            if month >= 1 and month <= 12:
                if day >= 1 and day <= 31:
                    if month in [4,6,9,11] and day >= 30:
                        return False
                    elif month == 2 and ( (is_leap(year) and day > 29) or (is_leap(year) is False and day > 28)):
                        return False
                    else:
                        return True
                else:
                    return False
            else:
                return False
        else:
            return False
    else:
        return False

print(check_date(1,1,2000))
print(check_date(18,9,1999))
print(check_date(29,2,2000))
print(check_date(29,2,2021))
print(check_date(13,13,2021))
print(check_date(13.5,12,2021))

True
True
True
False
False
False

In [ ]:
def is_leap(year):
    if (year % 400 == 0):
        return True
    elif (year % 100 == 0):
        return False
    elif (year % 4 == 0):
        return True
    else: return False

#def check_date(day, month, year):
def check_date(lst):
    day, month, year = lst[0], lst[1], lst[2]

    if type(day) is int and type(month) is int and type(year) is int:
        if year >= 1900 and year <= 2022:
            if month >= 1 and month <= 12:
                if day >= 1 and day <= 31:
                    if month in [4,6,9,11] and day >= 30:
                        return False
                    elif month == 2 and ( (is_leap(year) and day > 29) or (is_leap(year) is False and day > 28)):
                        return False
                    else:
                        return True
                else:
                    return False
            else:
                return False
        else:
            return False
    else:
        return False

def register(surname, name, date, middle_name = None, registry = None):
    if registry is None:
        registry = []
    if check_date(date) is False:
        raise ValueError ("Invalid Date!")
    else:
        user = (surname, name, middle_name, date[0], date[1], date[2])
        registry.append(user)
    return registry
        

reg = register('Petrova', 'Maria', (13, 3, 2003), 'Ivanovna')
reg = register('Ivanov', 'Sergej', (24, 9, 1995), registry=reg)
reg = register('Smith', 'John', (13, 2, 2003), registry=reg)
print(reg)
# [('Petrova', 'Maria', 'Ivanovna', 13, 3, 2003), ('Ivanov', 'Sergej', None, 24, 9, 1995), ('Smith', 'John', None, 13, 2, 2003)]
 
#reg = register('Ivanov', 'Sergej', (24, 13, 1995))
# ValueError: Invalid Date!

[('Petrova', 'Maria', 'Ivanovna', 13, 3, 2003), ('Ivanov', 'Sergej', None, 24, 9, 1995), ('Smith', 'John', None, 13, 2, 2003)]

In [ ]:
simple_string = 'adafjkaff'
iter(simple_string)

In [ ]:
def mygen():
    i=7
    print('hello')
    while i>0:
        i-=1
        yield i

#gen = mygen()
#print(gen)

def mygen():
    i=7
    while i>0:
        i-=1
        yield i

gen = mygen()
for i in gen:
    print(i, end=' ')

6 5 4 3 2 1 0

In [ ]:
#Напишите бесконечный итератор по списку.
#Для этого создайте генератор с названием inf_iter, который принимает на вход список и возвращает элементы из него через yield.
#Когда элементы в списке заканчиваются, генератор снова возвращает элементы из списка, начиная с нулевого.

#l = [101, 102, 103]
#gen = inf_iter(l)
#for _ in range(10):
    #print(next(gen))

def inf_iter(lst):
    i = 0
    while True:
        for i in lst:
            yield(i)

l = [101, 102, 103]
gen = inf_iter(l)
for i in range(10):
    print(next(gen))

print(next(inf_iter([101,102,103])))

101
102
103
101
102
103
101
102
103
101
101

In [ ]:
def group_gen(n):
    while True:
        for i in list(range(1,n+1)):
            yield(i)

groups = group_gen(3)
for _ in range(10):
    print(next(groups))

1
2
3
1
2
3
1
2
3
1

In [ ]:
def root_generator(values):
    for val in values:
        if val >= 0:
            result = val ** 0.5
            yield result

new_root_generator = root_generator([-5, 25, 36, -25, 0])
print(next(new_root_generator))

5.0

In [ ]:
main_link = 'https://www.kommersant.ru'

docs = [
    '//doc/5041434?query=data%20science',
    '//doc/5041567?query=data%20science',
    '//doc/4283670?query=data%20science',
    '//doc/3712659?query=data%20science',
    '//doc/4997267?query=data%20science',
    '//doc/4372673?query=data%20science',
    '//doc/3779060?query=data%20science',
    '//doc/3495410?query=data%20science',
    '//doc/4308832?query=data%20science',
    '//doc/4079881?query=data%20science'
]

def create_link(template_link, docs_list):
    full_link = []
    for doc in docs_list:
        full_link.append(template_link + doc)
    return full_link

print(create_link(main_link,docs))

links = list(map(lambda x: main_link + x, docs))

print(links)

['https://www.kommersant.ru//doc/5041434?query=data%20science', 'https://www.kommersant.ru//doc/5041567?query=data%20science', 'https://www.kommersant.ru//doc/4283670?query=data%20science', 'https://www.kommersant.ru//doc/3712659?query=data%20science', 'https://www.kommersant.ru//doc/4997267?query=data%20science', 'https://www.kommersant.ru//doc/4372673?query=data%20science', 'https://www.kommersant.ru//doc/3779060?query=data%20science', 'https://www.kommersant.ru//doc/3495410?query=data%20science', 'https://www.kommersant.ru//doc/4308832?query=data%20science', 'https://www.kommersant.ru//doc/4079881?query=data%20science']
['https://www.kommersant.ru//doc/5041434?query=data%20science', 'https://www.kommersant.ru//doc/5041567?query=data%20science', 'https://www.kommersant.ru//doc/4283670?query=data%20science', 'https://www.kommersant.ru//doc/3712659?query=data%20science', 'https://www.kommersant.ru//doc/4997267?query=data%20science', 'https://www.kommersant.ru//doc/4372673?query=data%20science', 'https://www.kommersant.ru//doc/3779060?query=data%20science', 'https://www.kommersant.ru//doc/3495410?query=data%20science', 'https://www.kommersant.ru//doc/4308832?query=data%20science', 'https://www.kommersant.ru//doc/4079881?query=data%20science']

In [ ]:
lens_list = [4, 6, 5, 9, 8, 3]
even_list = []
# Создаём цикл по элементам списка
for item in lens_list:
    # Проверяем условие, что текущий элемент списка чётный
    if item % 2 == 0: # Если условие выполняется,
        # добавляем элемент в новый список
        even_list .append(item)
print(even_list)
# Будет напечатано:
# [4, 6, 8]

[4, 6, 8]

In [ ]:
family_list = [
    'certificate of a large family',
    'social card',
    'maternity capital',
    'parking permit',
    'tax benefit',
    'reimbursement of expenses',
    "compensation for the purchase of children's goods"
    ]

def family(*arg):
    family_list = [
    'certificate of a large family',
    'social card',
    'maternity capital',
    'parking permit',
    'tax benefit',
    'reimbursement of expenses',
    "compensation for the purchase of children's goods"
    ]

    res = filter(lambda x: x in family_list, arg)
    return list(res)

print(family('certificate of a large family', 'certificate of a large'))

['certificate of a large family']

In [ ]:
names = ['Ivan', 'Nikita', 'Simon', 'Margarita', 'Vasilisa', 'Kim']

long_names = filter(lambda x: len(x) >= 5, names)

t     = map(lambda x: (x, x.upper().count('A')),long_names)

print(list(t))

[('Nikita', 1), ('Simon', 0), ('Margarita', 3), ('Vasilisa', 2)]

In [ ]:
def check_func(t):
    surname = t[0]
    name = t[1]
    new_surname = surname + ' ' + name[0] + '.'
    return (new_surname, t[2], t[3], t[4])

reg = [('Ivanov', 'Sergej', 24, 9, 1995),
      ('Smith', 'John', 13, 2, 2003),
      ('Petrova', 'Maria', 13, 3, 2003)]

new_reg = list(map(check_func, filter(lambda x: x[4] >= 2000, reg)))
print(new_reg)

[('Smith J.', 13, 2, 2003), ('Petrova M.', 13, 3, 2003)]

In [ ]:
def group_gen(n=3):
    while True:
        for i in range(1, n+1):
            yield i

users = ['Smith J.', 'Petrova M.', 'Lubimov M.', 'Holov J.']

def print_groups(u):
    res = []
    for user, group in zip(u, group_gen(3)):
        res.append(str(user) + ' in group ' + str(group))
    return res

print_groups(users)

['Smith J. in group 1',
 'Petrova M. in group 2',
 'Lubimov M. in group 3',
 'Holov J. in group 1']

In [ ]:
# Декорирующая функция принимает в качестве
# аргумента название функции
def simple_decorator(func):
 
    # Функция, в которой происходит модификация поведения
    # функции func. Она будет принимать те же аргументы,
    # что и функция func, которую декорирует decorated_function.
    # Чтобы принять все возможные аргументы, используем сочетание
    # *args и *kwargs.
    def decorated_function(*args, **kwargs):
        # Печатаем принятые аргументы
        print("Input:")
        print("Positional:", args)
        print("Named:", kwargs)
        # С помощью конструкции *args/**kwargs
        # считаем результат выполнения функции func
        result = func(*args, **kwargs)
        # Печатаем результат выполнения функции
        print("Result:", result)
        # Не забываем вернуть результат, чтобы
        # не повлиять на поведение декорируемой функции!
        return result
    # Внешняя функция возвращает функцию
    # decorated_function
    return decorated_function

def root(value, n=2):
    result = value ** (1/n)
    return result
# Декорируем функцию root с помощью функции simple_decorator
decorated_root = simple_decorator(root)

#print(decorated_root(625, 4))

from time import time
 
def time_decorator(func):
    def decorated_func(*args, **kwargs):
        # Получаем время на момент начала вычисления
        start = time()
        result = func(*args, **kwargs)
        # Получаем время на момент окончания вычисления
        end = time()
        # Считаем длительность вычисления
        delta = end - start
        # Печатаем время работы функции
        print("Runtime:", delta)
        return result
    return decorated_func

@time_decorator
def root(value, n=2):
    result = value ** (1/n)
    return result
 
print(root(81))
print(root(81))
print(root(81))
print(root(81))

Runtime: 5.9604644775390625e-06
9.0
Runtime: 2.384185791015625e-06
9.0
Runtime: 1.430511474609375e-06
9.0
Runtime: 1.9073486328125e-06
9.0

In [ ]:
def logger(Name):
    def simple_decorator(func):
 
        # Функция, в которой происходит модификация поведения
        # функции func. Она будет принимать те же аргументы,
        # что и функция func, которую декорирует decorated_function.
        # Чтобы принять все возможные аргументы, используем сочетание
        # *args и *kwargs.
        def decorated_function(*args, **kwargs):
            # Печатаем принятые аргументы
            print(Name + ': Function root started')
            # С помощью конструкции *args/**kwargs
            # считаем результат выполнения функции func
            result = func(*args, **kwargs)
            # Печатаем результат выполнения функции
            print(Name + ': Function root finished')
            # Не забываем вернуть результат, чтобы
            # не повлиять на поведение декорируемой функции!
            return result
        # Внешняя функция возвращает функцию
        # decorated_function
        return decorated_function
    return simple_decorator

@logger('MainLogger')
def root(val, n=2):
    res = val ** (1/n)
    return res
 
print(root(25))

MainLogger: Function root started
MainLogger: Function root finished
5.0

In [ ]:
python_string = 'Hello! My name is Python. I will help you to analyze some data'
a = len(python_string) ** 3
print(a)

print(python_string[18:24])

str = python_string.replace('!', '')
str = str.replace('.','')
print(len(str.split()))

238328
Python
13

In [ ]:
# Напишите свою функцию password_change, которая должна выводить на экран 
# отформатированную строку в следующем виде: 

# "User user_name changed password to new_password"

# Мы уже сделали заготовку функции вам осталось только задать строку
# Переменные, которые надо использовать, указаны в круглых скобках после имени функции
# user_name - имя пользователя, new_password - новый пароль
# запишите форматированную строку вместо знаков вопроса
# ! обязательное условие - задача должна быть решена с использованием метода format

def change_password(user_name, new_password):
    return 'User {0} changed password to {1}'.format(user_name,new_password)

print(change_password("Lena", "qwerty"))

User Lena changed password to qwerty

In [ ]:
print('User {0} changed password to {1}'.format(1,2))

User 1 changed password to 2

In [ ]:
# Напишите функцию get_unique_words(), которая избавляется от знаков препинаний 
# и пробелов в тексте и возвращает упорядоченный список 
# (слова расположены по алфавиту) из уникальных (неповторяющихся) слов.

# Можно использовать готовый список со знаками препинания:

punctuation_list = ['.', ',', ';', ':', '...', '!', '?', '-', '"', '(', ')']

# Текст, который можно использовать в качестве примера:
text_example = "A beginning is the time for taking the most delicate care that the balances are correct. This every sister of the Bene Gesserit knows. To begin your study of the life of Muad'Dib, then take care that you first place him in his time: born in the 57th year of the Padishah Emperor, Shaddam IV. And take the most special care that you locate Muad'Dib in his place: the planet Arrakis. Do not be deceived by the fact that he was born on Caladan and lived his first fifteen years there. Arrakis, the planet known as Dune, is forever his place."

def get_unique_words(text):
    for i in punctuation_list:
        text = text.replace(i,'')
    text = text.lower()
    text = text.split()
    lst = list(set(text))
    lst.sort()
    return lst

print(get_unique_words(text_example))

def get_most_frequent_word(text):
    text = text.lower()
    unique_words = get_unique_words(text)
    max_cnt = 0
    most_frequent_word = ''
    for word in unique_words:
        if text.count(word) > max_cnt:
            most_frequent_word = word
            max_cnt = text.count(word)
    return most_frequent_word
    
print(get_most_frequent_word(text_example))

['the']
the

In [ ]:
# Разработайте функцию holes_count(), которая подсчитывает количество отверстий 
# в заданном числе. Например, в цифре 8 два отверстия, в цифре 9 - одно. 
# В числе 146 - два отверстия. 
# Подсказка: используйте словарь для записи количества отверстий в цифрах

def holes_count(number):
  holes_dict = {'0':1, '4':1, '6':1, '8':2, '9':1}
  number_list = list(str(number))
  holes_count = 0
  for number in number_list:
      holes_count += holes_dict.get(number, 0)
  return holes_count

print(holes_count(123))
print(holes_count(8888))
print(holes_count(4688890))

0
8
10

In [ ]:
#Напишите программу, которая запрашивает у пользователя следующие данные : username, age, email о нескольких пользователях и собирает эти данные в структуру:

#[(1, {'username': user1, 'age': age1, 'email': email1}), 
#(2, {'username': user2, 'age': age2, 'email': email2}), ... ]
#Первый элемент каждого кортежа — порядковый номер пользователя, второй элемент — словарь с данными.

#В итоге должен получиться список с кортежами.

#Далее необходимо провести аналитику (собрать данные о пользователях в словарь)

#{'username': [user1, user2, ...],
#'age': [age1, age2, ...],
#'email': [email1, email2, ...]}
#и вывести эту аналитику на экран.

num_users = int(input('Enter number if users:'))
user_analytics = {'username': [], 'age': [], 'email' : []}
user_list = []

for i in range(num_users):
    user = {}
    user['username'] = input('Enter username:')
    user['age'] = int(input('Enter user age:'))
    user['email'] = input('Enter use email:')
    
    user_analytics['username'].append(user['username'])
    user_analytics['age'].append(user['age'])
    user_analytics['email'].append(user['email'])
    user_list.append((i+1, user))

print(user_list)
print(user_analytics)

Enter number if users:2
Enter username:u1
Enter user age:1
Enter use email:e1
Enter username:u2
Enter user age:1
Enter use email:e2
[(1, {'username': 'u1', 'age': 1, 'email': 'e1'}), (2, {'username': 'u2', 'age': 1, 'email': 'e2'})]
{'username': ['u1', 'u2'], 'age': [1, 1], 'email': ['e1', 'e2']}

In [ ]:
def is_divided_by_six(number):
    return True if number % 2 == 0 and number % 3 == 0 else False

is_divided_by_six(6)

True

In [ ]:
def check_number_sign(number):
    if number > 0:
        return 1
    elif number < 0:
        return -1
    else: return 0

In [ ]:
def division(a,b):
    try:
        c = a / b
        return c
    except ZeroDivisionError:
        return None

division(2, 3)

0.6666666666666666

In [ ]:
def lucky_ticket(ticket):
    ticket_num = list(str(ticket))
    if int(ticket_num[0])+int(ticket_num[1])+int(ticket_num[2]) == int(ticket_num[3])+int(ticket_num[4])+int(ticket_num[5]):
        return True
    else:
        return False

print(lucky_ticket(123321))

['1', '2', '3', '3', '2', '1'] 123 321
True

In [ ]:
def fib_number(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        fib1 = 1
        fib2 = 1 
        i = 0
        while i < n - 2:
            fib_sum = fib1 + fib2
            fib1 = fib2
            fib2 = fib_sum
            i = i + 1
    return fib2

print(fib_number(6))

8

In [ ]:
# Напишите функцию def even_numbers_in_matrix(), 
# которая получает на вход матрицу (список из списков) 
# и возвращает количество четных чисел в ней.

matrix_example = [
          [1, 5, 4],
          [4, 2, -2],
          [7, 65, 88]
]

def even_numbers_in_matrix(matrix):
    even_cnt = 0
    for i in matrix:
         for j in i:
              if j % 2 == 0:
                  even_cnt += 1
    return even_cnt

print(even_numbers_in_matrix(matrix_example))

5

In [ ]:
#Напишите функцию def matrix_sum(), которая получает на вход две матрицы и возвращает их сумму.

#Примечание: чтобы найти сумму двух матриц, нужно просуммировать их соответствующие элементы.
#Но перед этим необходимо проверить, что размеры матриц одинаковы (одинаковое количество столбцов и одинаковое количество строк).
#Если размеры матриц не совпадают, то надо вывести на экран сообщение 'Error! Matrices dimensions are different!' с помощью функции print(),
#а затем вернуть значение None из функции matrix_sum().

# Напишите функцию def matrix_sum(), которая получает на вход две матрицы 
# и возвращает их сумму.

# Примечание: чтобы найти сумму двух матриц, нужно просуммировать 
# их соответствующие элементы. Но перед этим необходимо проверить, что размеры 
# матриц одинаковы (одинаковое количество столбцов и одинаковое количество строк)

# Например:

# 1 2 3   2 3 4   3 5 7
# 2 3 4 + 4 5 6 = 6 8 10
# 5 6 7   4 3 2   9 9 9

matrix_example = [
          [1, 5, 4],
          [4, 2, -2],
          [7, 65, 88]
]

def matrix_sum(matrix1, matrix2):
  # проверяем размеры матриц - они должны совпадать!
  elem_count1 = 0
  elem_count2 = 0
  new_matrix = []
  for i in matrix1:
         for j in i:
             elem_count1 += 1
  for i in matrix2:
         for j in i:
             elem_count2 += 1
  new_matrix = [0]*len(matrix1)
  for i in range(len(matrix1)):
       new_matrix[i] = [0] * len(matrix1)
  if elem_count1 != elem_count2:
      print('Error! Matrices dimensions are different!')
      return None
  else:
      for i in range(len(matrix1)):
          for j in range(len(matrix1[0])): 
              new_matrix[i][j] = matrix1[i][j] + matrix2[i][j] 
              
  return new_matrix

print(matrix_sum(matrix_example, matrix_example))

[0, 0, 0]
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[2, 10, 8], [8, 4, -4], [14, 130, 176]]

In [ ]:
st="aaabbccccdaa"

new_lst = list(st)
uniq = list(set(st))
uniq.sort()
new_str = ""
for i in uniq:
    print(i)
    new_str += i + str(new_lst.count(i))
print(new_str)

a
b
c
d
a5b2c4d1

In [ ]:
A = [[1,2,3], 
     [4,5,6], 
     [7 ,8,9]] 
  
B = [[9,8,7], 
     [6,5,4], 
     [3,2,1]] 
  
  
result = [[0,0,0], 
          [0,0,0], 
          [0,0,0]] 
  
# iterate through rows 
for i in range(len(A)):    
# iterate through columns 
    for j in range(len(A[0])): 
       result[i][j] = A[i][j]+B[i][j] 
  
print(result)

[[10, 10, 10], [10, 10, 10], [10, 10, 10]]

In [ ]:
users_list = ["admin", "ivan", "ivan_ivan"]

def user_auth(func):
    def wrapper():
        user = input("Enter username: ")
        if user in users_list:
            print("User authed")
            func()
        else:
            print("Unknown user!")

    return wrapper


@user_auth
def get_data_from_database():
    print("Super secure data from database")

get_data_from_database()

Enter username: admin
User authed
Super secure data from database